.jumbotron { 
    justify-content: center;
    text-align: center;   
    padding: 90px;
}

.past {
    background-color: grey;
}

.present {
    background-color: red;
}

.future {
    background-color: green;
}

textarea {
    display: flex;
    padding: 10px;
    margin-left: 3em;
    width: 50em;

}

.hour {
    display: flex;
    align-items: flex-start;
    padding: 10px;

}

button {
    height: 70px;
}